<a href="{% url 'social:begin' 'github' %}">
    <button type="button" class="sc-gKclnd diSqHe sc-hGPBjI sc-fKVqWL fJsJbH iroSqL">
        <img src="https://ui-cdn.digitalocean.com/registration/63a2238/static/media/oauth-logo-github.2ef7658f.svg"
             class="sc-bBHxTw cBBErh p-1">Sign in with GitHub
    </button>
</a>

<style>
.iroSqL {
    background-color: rgb(0, 63, 153);
}

.diSqHe {
    appearance: none;
    margin: 0px;
    overflow: visible;
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-family: inherit;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-transform: none;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    padding: 0px 1rem;
    background: rgb(0, 97, 235);
    vertical-align: middle;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    line-height: 44px;
    height: 48px;
    min-width: 40px;
    max-width: none;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    width: 100%;
}
*, :after, :before {
    box-sizing: inherit;
}
user agent stylesheet
button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}





</style>