
<section class="login-section fullscreen">
    <div class="form-box">
        <h2>Login</h2>
        <form method="post" id="login-form">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="input-box" id="username">
                {{ form.username }}
                {{ form.username.errors }}
                <label for="{{ form.username.id_for_label }}">Username:</label>
            </div>
            <div class="input-box" id="password">
                {{ form.password }}
                {{ form.password.errors }}
                <label for="{{ form.password.id_for_label }}">Password:</label>
            </div>
            <a href="#" id="submit" onclick="myFunction()">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Submit
            </a>
        </form>
        <a href="{% url 'password_reset' %}">Forgot Password?</a>
        <a href="{% url 'social:begin' 'github' %}">Sign in with GitHub</a>
        <a href="{% url 'google_login' %}">Sign in with Google</a>
    </div>
</section>

<script>
function myFunction() {
    document.getElementById("login-form").submit();
}
</script>

{% include 'registration/base_registration.html' %}

