
<section class="fullscreen">
    <div class="form-box">
        <h2>Confirm password reset</h2>
        <form method="post" id="form">
            {% csrf_token %}
            <div class="input-box">
                {{ form.new_password1 }}
                {{ form.new_password1.errors }}
                <label for="{{ form.new_password1.id_for_label }}">New Password</label>
            </div>
            <div class="input-box">
                {{ form.new_password2 }}
                {{ form.new_password2.errors }}
                <label for="{{ form.new_password2.id_for_label }}">New Password confirmation</label>
            </div>
            <a href="#" id="submit" onclick="myFunction()">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Submit
            </a>
        </form>
        <a href="{% url 'dashboard' %}">Back to dashboard</a>
    </div>
</section>

<script>
function myFunction() {
    document.getElementById("form").submit();
}

</script>
{% include 'registration/base_registration.html' %}
