# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
projects/static/admin/css/autocomplete.css
projects/static/admin/css/base.css
projects/static/admin/css/changelists.css
projects/static/admin/css/dashboard.css
projects/static/admin/css/fonts.css
projects/static/admin/css/forms.css
projects/static/admin/css/login.css
projects/static/admin/css/nav_sidebar.css
projects/static/admin/css/responsive.css
projects/static/admin/css/responsive_rtl.css
projects/static/admin/css/rtl.css
projects/static/admin/css/vendor/select2/LICENSE-SELECT2.md
projects/static/admin/css/vendor/select2/select2.css
projects/static/admin/css/vendor/select2/select2.min.css
projects/static/admin/css/widgets.css
projects/static/admin/fonts/LICENSE.txt
projects/static/admin/fonts/README.txt
projects/static/admin/fonts/Roboto-Bold-webfont.woff
projects/static/admin/fonts/Roboto-Light-webfont.woff
projects/static/admin/fonts/Roboto-Regular-webfont.woff
projects/static/admin/img/calendar-icons.svg
projects/static/admin/img/gis/move_vertex_off.svg
projects/static/admin/img/gis/move_vertex_on.svg
projects/static/admin/img/icon-addlink.svg
projects/static/admin/img/icon-alert.svg
projects/static/admin/img/icon-calendar.svg
projects/static/admin/img/icon-changelink.svg
projects/static/admin/img/icon-clock.svg
projects/static/admin/img/icon-deletelink.svg
projects/static/admin/img/icon-no.svg
projects/static/admin/img/icon-unknown-alt.svg
projects/static/admin/img/icon-unknown.svg
projects/static/admin/img/icon-viewlink.svg
projects/static/admin/img/icon-yes.svg
projects/static/admin/img/inline-delete.svg
projects/static/admin/img/LICENSE
projects/static/admin/img/README.txt
projects/static/admin/img/search.svg
projects/static/admin/img/selector-icons.svg
projects/static/admin/img/sorting-icons.svg
projects/static/admin/img/tooltag-add.svg
projects/static/admin/img/tooltag-arrowright.svg
projects/static/admin/js/actions.js
projects/static/admin/js/admin/DateTimeShortcuts.js
projects/static/admin/js/admin/RelatedObjectLookups.js
projects/static/admin/js/autocomplete.js
projects/static/admin/js/calendar.js
projects/static/admin/js/cancel.js
projects/static/admin/js/change_form.js
projects/static/admin/js/collapse.js
projects/static/admin/js/core.js
projects/static/admin/js/inlines.js
projects/static/admin/js/jquery.init.js
projects/static/admin/js/nav_sidebar.js
projects/static/admin/js/popup_response.js
projects/static/admin/js/prepopulate.js
projects/static/admin/js/prepopulate_init.js
projects/static/admin/js/SelectBox.js
projects/static/admin/js/SelectFilter2.js
projects/static/admin/js/urlify.js
projects/static/admin/js/vendor/jquery/jquery.js
projects/static/admin/js/vendor/jquery/jquery.min.js
projects/static/admin/js/vendor/jquery/LICENSE.txt
projects/static/admin/js/vendor/select2/i18n/af.js
projects/static/admin/js/vendor/select2/i18n/ar.js
projects/static/admin/js/vendor/select2/i18n/az.js
projects/static/admin/js/vendor/select2/i18n/bg.js
projects/static/admin/js/vendor/select2/i18n/bn.js
projects/static/admin/js/vendor/select2/i18n/bs.js
projects/static/admin/js/vendor/select2/i18n/ca.js
projects/static/admin/js/vendor/select2/i18n/cs.js
projects/static/admin/js/vendor/select2/i18n/da.js
projects/static/admin/js/vendor/select2/i18n/de.js
projects/static/admin/js/vendor/select2/i18n/dsb.js
projects/static/admin/js/vendor/select2/i18n/el.js
projects/static/admin/js/vendor/select2/i18n/en.js
projects/static/admin/js/vendor/select2/i18n/es.js
projects/static/admin/js/vendor/select2/i18n/et.js
projects/static/admin/js/vendor/select2/i18n/eu.js
projects/static/admin/js/vendor/select2/i18n/fa.js
projects/static/admin/js/vendor/select2/i18n/fi.js
projects/static/admin/js/vendor/select2/i18n/fr.js
projects/static/admin/js/vendor/select2/i18n/gl.js
projects/static/admin/js/vendor/select2/i18n/he.js
projects/static/admin/js/vendor/select2/i18n/hi.js
projects/static/admin/js/vendor/select2/i18n/hr.js
projects/static/admin/js/vendor/select2/i18n/hsb.js
projects/static/admin/js/vendor/select2/i18n/hu.js
projects/static/admin/js/vendor/select2/i18n/hy.js
projects/static/admin/js/vendor/select2/i18n/id.js
projects/static/admin/js/vendor/select2/i18n/is.js
projects/static/admin/js/vendor/select2/i18n/it.js
projects/static/admin/js/vendor/select2/i18n/ja.js
projects/static/admin/js/vendor/select2/i18n/ka.js
projects/static/admin/js/vendor/select2/i18n/km.js
projects/static/admin/js/vendor/select2/i18n/ko.js
projects/static/admin/js/vendor/select2/i18n/lt.js
projects/static/admin/js/vendor/select2/i18n/lv.js
projects/static/admin/js/vendor/select2/i18n/mk.js
projects/static/admin/js/vendor/select2/i18n/ms.js
projects/static/admin/js/vendor/select2/i18n/nb.js
projects/static/admin/js/vendor/select2/i18n/ne.js
projects/static/admin/js/vendor/select2/i18n/nl.js
projects/static/admin/js/vendor/select2/i18n/pl.js
projects/static/admin/js/vendor/select2/i18n/ps.js
projects/static/admin/js/vendor/select2/i18n/pt-BR.js
projects/static/admin/js/vendor/select2/i18n/pt.js
projects/static/admin/js/vendor/select2/i18n/ro.js
projects/static/admin/js/vendor/select2/i18n/ru.js
projects/static/admin/js/vendor/select2/i18n/sk.js
projects/static/admin/js/vendor/select2/i18n/sl.js
projects/static/admin/js/vendor/select2/i18n/sq.js
projects/static/admin/js/vendor/select2/i18n/sr-Cyrl.js
projects/static/admin/js/vendor/select2/i18n/sr.js
projects/static/admin/js/vendor/select2/i18n/sv.js
projects/static/admin/js/vendor/select2/i18n/th.js
projects/static/admin/js/vendor/select2/i18n/tk.js
projects/static/admin/js/vendor/select2/i18n/tr.js
projects/static/admin/js/vendor/select2/i18n/uk.js
projects/static/admin/js/vendor/select2/i18n/vi.js
projects/static/admin/js/vendor/select2/i18n/zh-CN.js
projects/static/admin/js/vendor/select2/i18n/zh-TW.js
projects/static/admin/js/vendor/select2/LICENSE.md
projects/static/admin/js/vendor/select2/select2.full.js
projects/static/admin/js/vendor/select2/select2.full.min.js
projects/static/admin/js/vendor/xregexp/LICENSE.txt
projects/static/admin/js/vendor/xregexp/xregexp.js
projects/static/admin/js/vendor/xregexp/xregexp.min.js
.project
.pydevproject
