.frame-picture {
  border:solid 2px;
  border-bottom-color:#ffe;
  border-left-color:#eed;
  border-right-color:#eed;
  border-top-color:#ccb;
  height:30vh;
}

.frame {
  background-color:#ddc;
  border:solid 4vmin #eee;
  border-bottom-color:#fff;
  border-left-color:#eee;
  border-radius:2px;
  border-right-color:#eee;
  border-top-color:#ddd;
  box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
  box-sizing:border-box;
  display:inline-block;
  margin:4vh 4vw;
  padding:2vmin;
  position:relative;
  text-align:center;
}
.frame:before {
    border-radius:1px;
    bottom:-1vmin;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
    content:"";
    left:-1vmin;
    position:absolute;
    right:-1vmin;
    top:-1vmin;
}
.frame:after {
    border-radius:2px;
    bottom:-1.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    content:"";
    left:-1.5vmin;
    position:absolute;
    right:-1.5vmin;
    top:-1.5vmin;
}

.project-text > * {
    text-decoration:none!important;
    color:black;
}

a:link {
    text-decoration:none!important;
}

.owl-prev > * {
    display: inline-block;
    font-size: 100px;
    height:10px;
}

.owl-next > * {
    display: inline-block;
    font-size: 100px;
    height:10px;
}

.owl-prev {
    height:100px;
}

.owl-next {
    height:100px;
}

.owl-nav {
    height:20px;
}