.skills-console {
    background-color: black;
    min-height: 70vh;
}

.header-title {
    overflow: hidden;
    white-space: nowrap;
    display: table;
}

.header-bar {
    background-color: lightgrey;
    padding-left:10px;
    padding-right:10px;
}

.console-text {
    color:white;
    padding-left:40px;
}

pre {
    color:white;
    display: block;
    margin: 0;
    overflow: hidden;
}

