{% load static %}


<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.5.0/slick.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.slick/1.5.0/slick.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

<link rel="stylesheet" type="text/css" href="{% static 'css/projects.css' %}">


<h6 id="projects">Projects</h6>

<div class="carousel">
    {% for project_number, project_info in projects.items %}
    <div class="item" style="height: 300px;">
        <a href="{% url 'project_detail' project_number %}"
           class="btn-light">
            <img class="h-50 w-100" src="{% static project_info.image %}">
            <div class="tex-center">
                <h5 class="tex-center">{{ project_info.name }}</h5>
                <p class="tex-center">{{ project_info.description }}</p>
                <p class="tex-center">{{ project_info.date }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>



<script>
$(document).ready(function () {
  $(".carousel").slick({
    speed: 2500,
    autoplay: true,
    autoplaySpeed: 1,
    cssEase: "linear",
    slidesToShow: 2,
    slidesToScroll: 1,
    dots: false,
    prevArrow: false,
    nextArrow: false,
    pauseOnFocus: false,
    pauseOnHover: false,
  });
});
//https://kenwheeler.github.io/slick/

</script>