{% load static %}


<link rel="stylesheet" href="{% static 'css/owlcarousel/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/owlcarousel/owl.theme.default.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/projects.css' %}">

<div class="owl-carousel">
    {% for project_number, project_info in projects.items %}
        <a href="{% url 'project_detail' project_number %}">
            <div class="frame">
                <img class="frame-picture " src="{% static project_info.image %}">
            </div>
            <div class="text-center project-text">
                <h4 class="">{{ project_info.name }}</h4>
                <h6 class="">{{ project_info.description }}</h6>
                <h6 class="">{{ project_info.date }}</h6>
            </div>
        </a>
    {% endfor %}
</div>

    <script src="{% static 'javascript/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'javascript/owlcarousel/owl.carousel.min.js' %}"></script>
<script>
$(document).ready(function(){
    $('.owl-carousel').owlCarousel({
        loop:true,
        autoplay:true,
        autoplayHoverPause:true,
        autoplayTimeout:4000,
        autoplaySpeed:2000,
        margin:10,
        nav:true,
        dots:false,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:2
            },
            1000:{
                items:3
            }
        }
    })
});
</script>
