{% load static %}


<link rel="stylesheet" href="{% static 'css/owlcarousel/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/owlcarousel/owl.theme.default.min.css' %}">

<div class="owl-carousel">
    {% for project_number, project_info in projects.items %}
    <div class="item rounded border-dark p-4" style="min-height: 50vh;">
        <a href="{% url 'project_detail' project_number %}"
           class="btn-light">
            <img class="h-75 w-100 pb-4" src="{% static project_info.image %}">
            <div class="tex-center text-secondary">
                <h5 class="tex-center">{{ project_info.name }}</h5>
                <p class="tex-center">{{ project_info.description }}</p>
                <p class="tex-center">{{ project_info.date }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

    <script src="{% static 'javascript/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'javascript/owlcarousel/owl.carousel.min.js' %}"></script>
<script>
$(document).ready(function(){
    $('.owl-carousel').owlCarousel({
        loop:true,
        autoplay:true,
        autoplayHoverPause:true,
        autoplayTimeout:4000,
        autoplaySpeed:2000,
        margin:10,
        nav:false,
        dots:false,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:2
            },
            1000:{
                items:3
            }
        }
    })
});
</script>
