{% extends "base.html" %}


{% block page_content %}


{% load static %}
<script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/resume.css' %}">

<br/><br/>

<h4>Summary</h4>
<h6>Quality-focused software developer who loves to tackle difficult problems that require complex solutions. Strives to not only solve problems creatively, but to always discover the best possible solution.</h6>

<br/><br/><br/>

<h4>Educaiton</h4>
<h6>OpenEDG Python Institute - Certified Associate in Python Programming – (September 2019) </h6>
<h6>The Master's University, Santa Clarita CA - B.S.in Computer Science - (2014 - 2019)</h6>

<br/><br/><br/>
<h4>Skills</h4>
<div class="skills-console">
    <div class="header-bar">
        <span class="iconify" data-icon="codicon:terminal-cmd"></span>
        ChristianRansom@WebServer:~/home/developer/skills$
        <div class="float-right">
            <span class="iconify" data-icon="codicon:chrome-maximize"></span>
            <span class="iconify" data-icon="codicon:chrome-minimize"></span>
            <span class="iconify" data-icon="clarity:close-line"></span>
        </div>
    </div>
    <div class="console-text">
        {% for skill in skills %}
            <pre>{{skill}}</pre>
        {% endfor %}
    </div>
</div>

<br/><br/><br/>

<h5><span class="iconify" data-icon="octicon:repo-24"></span> <span class="text-primary">Christian Ransom/Experience</span></h5>

<div class="branch-button">
    <span class="iconify" data-icon="fluent:branch-fork-16-regular"></span>
    dev
    <span class="iconify" data-icon="ant-design:caret-down-outlined"></span>
</div>
{% for experience_number, experience_info in experience.items %}
<div class="container">
    <div class="timeline-icon">
        <span class="iconify" data-icon="octicon:commit-24"></span>
        <h7>Commits on <b>{{experience_info.company}} - <u>{{experience_info.title}}</u></b></h7>
    </div>
    <div>
        <div class="container vertical-line">
            <div class="inner-container">
                    {% for id, line in experience_info.explanation.items %}
                        {% if forloop.counter0 > 0 %}
                            <hr/>
                        {% endif %}
                            <div class="fake-button commit-container">
                                    <div class="commit-message">
                                        <p class="text-left commit-details">{{line}}</p>
                                        <div class="commit-date text-left">
                                        <img height="20" width="20" alt="@christian-ransom"
                                             src="https://avatars.githubusercontent.com/u/15479158?v=4"
                                             class="avatar-user rounded-circle">
                                            <b>Christian Ransom</b> committed on {{experience_info.date}}
                                        </div>
                                    </div>
                                    <div class="inner-buttons">
                                        <div class="btn btn-light border">
                                            <span class="iconify " data-icon="bx:bx-copy"></span>
                                            <span class="text-primary vertical-divider ">{{id}}</span>
                                            <span class="iconify" data-icon="octicon:code-16"></span>
                                        </div>
                                    </div>
                                </div>
                    {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endfor %}

<br/><br/><br/>

<h1>Projects</h1>
<div class="d-flex flex-wrap justify-content-center">
    {% for project_number, project_info in projects.items %}
    <div class="flex-item w-25 m-2">
        <div class="card h-100">
            <a href="{% url 'project_detail' project_number %}"
               class="btn-light h-100">
                <img class="card-img-top" src="{% static project_info.image %}">
                <div class="card-body">
                    <h5 class="card-title">{{ project_info.name }}</h5>
                    <p class="card-text">{{ project_info.description }}</p>
                    <p class="card-text">{{ project_info.date }}</p>
                </div>
            </a>

        </div>
    </div>
    {% endfor %}
</div>

<br/><br/><br/>

{% endblock %}