{% extends "base.html" %}
{% load static %}

{%block navbar-addons%}
<div class="resume-navbar fixed-top bg-black">
    <div class="d-flex justify-content-center resume-navbar-items">
        <a class="nav-link" href="#summary">Summary</a>
        <a class="nav-link" href="#skills">Skills</a>
        <a class="nav-link" href="#experience">Experience</a>
        <a class="nav-link" href="#projects">Projects</a>
    </div>
</div>
{%endblock navbar-addons%}

{% block page_content %}

<script src="{% static 'javascript/resume.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/resume.css' %}">



<!-- Section: Summary and Education -->
<a class="anchor" id="summary"></a>
<section class="fullscreen bg-black fullscreen-top">
    <div class="container mt-auto p-0">
        <div class="row align-items-center profilepic">
            <div class="col-12 col-lg-6 mt-auto p-0 m-0">
                <div class="">
                    <img class="profilepic2" src='{% static "img/profilepic3.png" %}' alt="Skills">
                </div>
            </div>
            <div class="col-12 col-lg-6 p-4 text-white">
                <h1 class="py-4">Summary</h1>
                <h5>Quality-focused software developer who loves to tackle difficult problems that require complex
                    solutions.
                    Strives to not only solve problems creatively, but to always discover the best possible
                    solution.</h5>
                <h1 id="education" class="py-4">Educaiton</h1>
                <h5>OpenEDG Python Institute - Certified Associate in Python Programming – (September 2019) </h5>
                <h5>The Master's University, Santa Clarita CA - B.S.in Computer Science - (2014 - 2019)</h5>
            </div>
        </div>
    </div>
</section>
<!-- Section: Summary and Education -->

<!-- Section: Experience -->
<a class="anchor" id="experience"></a>
<section class="fullscreen2"
         style="background-image: url('{% static 'img/rm380-16.jpg' %}');">
    <h4 class="ms-5"><span class="iconify" data-icon="octicon:repo-24"></span> <span
            class="text-primary">Christian Ransom/<strong>Experience</strong></span></h4>
    <div class="ms-5 branch-button">
        <span class="iconify" data-icon="fluent:branch-fork-16-regular"></span>
        dev
        <span class="iconify" data-icon="ant-design:caret-down-outlined"></span>
    </div>
    {% for experience_number, experience_info in experience.items %}
    <div class="container">
        <span class="timeline-icon ms-n5">
            <span class="iconify" data-icon="octicon:commit-24"></span>
        </span>
        <span>
            <h7>Commits on <b>{{experience_info.company}} - <u>{{experience_info.title}}</u></b></h7>
        </span>
        <div>
            <div class="container vertical-line">
                <div class="inner-container">
                    {% for id, line in experience_info.explanation.items %}
                    {% if forloop.counter0 > 0 %}
                    <hr/>
                    {% endif %}
                    <div class="fake-button commit-container">
                        <div class="commit-message">
                            <p class="text-left commit-details">{{line}}</p>
                            <div class="commit-date text-left">
                                <img height="20" width="20" alt="@christian-ransom"
                                     src="https://avatars.githubusercontent.com/u/15479158?v=4"
                                     class="avatar-user rounded-circle">
                                <b>Christian Ransom</b> committed on {{experience_info.date}}
                            </div>
                        </div>
                        <div class="d-none d-md-block">
                            <div class="btn btn-light border inner-buttons">
                                <span class="iconify " data-icon="bx:bx-copy"></span>
                                <span class="text-primary vertical-divider ">{{id}}</span>
                                <span class="iconify" data-icon="octicon:code-16"></span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
<!-- Section: Experience -->

<!-- Section: Skills -->
<a class="anchor" id="skills"></a>
<section class="fullscreen fullscreen-skills"
         style="background-image: url('{% static 'img/pexels-pixabay.jpg' %}');">
    <div class="container mb-5">
        <div class="row">
            <div class="col-12 col-lg-8 mx-auto text-center">
                <h1 class="p-2">Skills</h1>
                <div class="text-start">
                    {% include "skills-console.html" %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Skills -->

<!-- Section: Projects -->
<a class="anchor" id="projects"></a>
<section class="fullscreen2"
         style="background-image: url('{% static 'img/pexels-lorenzo.jpg' %}');">
    <div class="text-center">
        <h1 class="p-4">Projects</h1>
        {% include "projects.html" %}
    </div>
</section>
<!-- Section: Projects -->


{% endblock %}