{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/skills-console.css' %}">

<div class="skills-console">
    <div class="header-bar">
        <span>
            <span class="iconify" data-icon="codicon:terminal-cmd"></span>
            ChristianRansom@WebServer:~/home/developer/skills$
        </span>
        <span class="float-end">
            <span class="iconify" data-icon="codicon:chrome-maximize"></span>
            <span class="iconify" data-icon="codicon:chrome-minimize"></span>
            <span class="iconify" data-icon="clarity:close-line"></span>
        </span>
    </div>
    <div class="console-text  ">
        {% for skill in skills %}
            <pre class="typing-demo">{{skill}}</pre>
        {% endfor %}
    </div>
</div>
